*{
    margin: 0%;
    overflow-x: hidden;
    overflow: hidden;
}

.cart{
    width: 10%;
}
.back{
    height: 420px;
    background-color: #48dbfb;
}

#home a{
    position: absolute;
    left: 50%;
    top: 10%;
    text-decoration: none;
}

#home2 a{
    position: absolute;
    left: 60%;
    top: 10%;
    text-decoration: none;
}